/* Extensions */
#extensions_url {
    display: block;
}

.extensions_block input[type="submit"]:hover {
    background-color: green;
}

.extensions_block input[type="checkbox"],
.extensions_block input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
}

label[for="extensions_autoconnect"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.extensions_url_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.extensions_url_block h4 {
    display: inline;
}

.extensions_block {
    clear: both;
    padding: 0.05px;
}

.extensions_info {
    text-align: left;
}

#extensions_settings_tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#extensions_settings_tabs.ui-widget-content {
    border: none !important;
}

#extensions_settings_tabs_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    background: none;
    border: none;
    margin: 5px 0;
    padding: 0;
}

#extensions_settings_tabs_list::before,
#extensions_settings_tabs_list::after {
    display: none;
}

#extensions_settings_tabs_list .extensions_tab_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    color: var(--SmartThemeBodyColor);
    background-color: var(--SmartThemeBlurTintColor);
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    margin: 0 !important;
    filter: none;
    opacity: 0.8;
    transition: opacity var(--animation-duration-2x);
}

#extensions_settings_tabs_list .extensions_tab_button:hover {
    opacity: 1;
}

#extensions_settings_tabs_list .extensions_tab_button.ui-tabs-active {
    background-color: color-mix(in srgb, var(--SmartThemeQuoteColor) 33%, var(--SmartThemeBlurTintColor) 66%);
    opacity: 1;
}

#extensions_settings_tabs_list .extensions_tab_button a {
    padding: 3px 10px;
    cursor: pointer;
    color: var(--SmartThemeBodyColor);
}

.extensions_tab_panel {
    padding: 10px 0;
}

.extensions_info h3:not(.margin0) {
    margin-bottom: 0.5em;
}

.extensions_info h4 {
    margin-bottom: 0.5em;
}

.extensions_info p {
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.extensions_info .disabled {
    color: lightgray;
}

.extensions_info .toggle_enable {
    color: lightgreen;
}

.extensions_info .toggle_disable {
    color: rgb(238, 144, 144);
}

.extensions_info .extension_enabled {
    font-weight: bold;
}

.extensions_info .extension_disabled {
    color: lightgray;
}

.extensions_info .extension_missing {
    color: gray;
}

.extensions_info .extension_modules {
    font-size: 0.8em;
    font-weight: normal;
}

.extensions_info .extension_block {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 10px;
    align-items: baseline;
    justify-content: space-between;
    gap: 5px;
}

.extensions_info .extension_name {
    font-size: 1.05em;
}

.extensions_info :is(.extension_version, .extension_author) {
    opacity: 0.8;
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 2px;
}

.extensions_info :is(.extension_version, .extension_author):empty {
    display: none;
}

.extensions_info .extension_author {
    display: inline-flex;
    gap: 2px;
    align-items: baseline;
}

.extensions_info .extension_block a {
    color: var(--SmartThemeBodyColor);
}

.extensions_info .extension_name.update_available {
    color: limegreen;
}

.extensions_info .third_party_toolbar {
    user-select: none;
}

input.extension_missing[type="checkbox"] {
    opacity: 0.5;
}

.update-button {
    margin-right: 10px;
    display: inline-flex;
}

/* Fixes order of settings for extensions */
#extensions_settings,
#extensions_settings2 {
    display: flex;
    flex-direction: column;
}

/* Fixes order of settings for extensions */
.extension_container {
    display: contents;
}

#extensionsMenu>div.extension_container:empty {
    display: none;
}

.extensions_info .extension_text_block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extensions_info .extension_actions {
    flex-wrap: nowrap;
}

.extensions_toolbar {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: var(--SmartThemeBlurTintColor);
    gap: 5px;
    z-index: 1;
    margin-bottom: 10px;
    padding: 5px;
}
